body{
    background-color:aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}
.index{
    background-color:whitesmoke;
    width: 90%;

}
#header{
    font-size: 2.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: white;
    padding-top: 0;
}
#nombre{
    text-align: right;
    font-size: 2em;
    font-family:'Courier New', Courier, monospace;
    margin-right: 20px;
}
.lineanegra{
    width: 98%;
    margin-left: 10px;
}
.navegador{
    width: 100%;
    height: 100px;
    background-color: white;
    text-decoration: none;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}
.navegador ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.navegador ul li{
    margin-top: 3%;
    font-size: 20px;
}
.navegador ul li a{
    text-decoration: none;
    color: black;
}
.navegador ul li a:hover{
    color:pink;
}
.titulos{
    width: 80%;
    margin-left: 10%;
    font-size: 2em;
    background-color: wheat;
    margin-bottom: 2%;
    margin-top: 1%;
    text-align: center;
}
#info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: whitesmoke;
    width: 90%;
    margin-left: 5%;
}
.datos{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 30%;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}
.parte{
    font-weight: bold;
    color: #a569bd;
}
.links{
    text-decoration: none;
    color: black; 
}
.links:hover{
    color: red;
}
footer{
    text-align: center;
    margin-top: 5%;
    background-color: white;
}
.linksfooter{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imgfooter{
    width: 100px;
}
#estudios{
    background-color:whitesmoke;
    width: 90%;
}
.tipocurso{
    margin-left: 2%;
    font-family: 'Times New Roman', Times, serif;
}
.conjuntocurso{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sitiocurso{
    width: 50%;
    text-align: center;
    margin-left: 2%;
}
.letrasitiocurso{
    text-align: left;
    font-style: italic;
    font-size: larger;
}
.morado{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #a569bd;
    margin-right: 1%;
}
.imgcurso{
    height: 100px;
}
.divfotoexp{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 90%;
    text-align: center;
    background-color: white;
    margin-left: 5%;
}
#fotoexp{
    height:120%;
}
.memes3{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    height: 70%;
    text-align: center;
    background-color: white;
    margin-left: 5%;
}
.fotomeme{
    width: 300px;
    height: auto;
}
.peliculas3{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    height: 70%;
    text-align: center;
    background-color: white;
    margin-left: 5%;
}
.pelicula{
    background-color: bisque;
    width: 20%;
    height:auto;
}
.imagenpelicula{
    margin-top: 5%;
    height: auto;
    width: 200px;
}
